<!DOCTYPE html>
<link rel="stylesheet" href="connexion.css">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tasky Managery</title>
</head>
<body>
    <div>
        <h1> Task Manager </h1>
        <h2> Connectez vous pour accèder à vos listes</h2>
        <img src="Ressources/user.png" height="6%" width="6%"/>
        <form method="post" action="DbConnection.php">
            <input name="user" type="text" placeholder=" Nom d'utilisateur"/> <br>
            <input name="mdp" type = "password" placeholder=" Mot de Passe"/> <br>
            <input name="button1"  type=submit id="bouton2" value="Se connecter" />
        </form>
    </div>
</body>
</html>