<!DOCTYPE html>
<link href="connexion.css" rel="stylesheet" xmlns="http://www.w3.org/1999/html">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Connection page</title>
</head>
<body>

<div id="brand"> <h1 id="title">TaskManager</h1> </div>

<img src="Ressources/user.png" id="connection_img">

<form id="form_connection">
    <div id="username_input" ><input name="username" class="input_home" value="Username"/> </div>
    <div id="password_input" ><input name="password" class="input_home" type="password" value="password"/></div>
</form>

</body>
</html>