
/*@font-face {
   font-family: 'PonyMaker';
   src : url("Ressources/PonyMaker.ttf");
}*/

body{
    background-color: aliceblue;
    text-align: center;
    align-content: center;
}
button {
    width:110px;
    cursor:pointer;
    text-transform:capitalize;
}
div{
    margin-top: 10%;
}
h1{
    font-family: "DejaVu Sans";
    font-style: italic;
}

form{
    margin-left: 37.5%;
    position: absolute;
    width: 25%;
    display: block;
}

input{
    margin-top : 1%;
}

#bouton{
    background-color: yellowgreen;
    border-radius: 50%;
    height: 50px;
}

#bouton2 {
    padding: 6px 0 6px 0;
    font: bold 13px Arial;
    background: #478bf9;
    color: #fff;
    border-radius: 2px;
    width: 100px;
    border: none;
}