
/*@font-face {
   font-family: 'PonyMaker';
   src : url("Ressources/PonyMaker.ttf");
}*/

body{
    background-color: aliceblue;
    text-align: center;
    align-content: center;
}
h1{
    font-family: "DejaVu Sans";
}

form{
    margin-left: 37.5%;
    position: absolute;
    width: 25%;
    display: block;
}

input{
    margin-top : 1%;
}

#bouton{
    background-color: yellowgreen;
    border-radius: 50%;
    height: 50px;
}