body {
}

#brand{
    text-align: center;
    margin-top: 11vh;
    width: auto;
    flex-wrap: wrap;
    font-size: 3em;

}

#connection_img{
    height: 17vh;
    display: block;

    align-content: center;
    margin-right: auto;
    margin-left: auto;
    padding-left: auto;
    padding-right: auto;
    width: auto;
    display: block;
    align-content: center;
}

#formConnection{
    margin-top: 5vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 23vw;

}

.input {
    display: block;
    padding-right: 3%;
    padding-left: 3%;
    margin-top: 3vh;
    margin-left : auto;
    margin-right : auto;
    width: 80%;
    height: 5vh;
    border: 2px solid dimgrey;
    border-radius: 10vw;
}
#submit_buttons{
    margin-top: 6vh;
}
.button {
    display: block;
    border-style: solid;
    color: white;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1vh;
    height: 5vh;
    width: 60%;
    border-radius: 10vw;
    font-family: "DejaVu Serif";
    font-size: 1em;
    font-style: oblique;
}
.green_button{
    display: block;
    border-style: solid;
    color: white;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1vh;
    height: 5vh;
    width: 60%;
    border-radius: 10vw;
    font-family: "DejaVu Serif";
    font-size: 1em;
    font-style: oblique;
    background-color: #4CAF50;
}
.blue_button{
    display: block;
    border-style: solid;
    color: white;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1vh;
    height: 5vh;
    width: 60%;
    border-radius: 10vw;
    font-family: "DejaVu Serif";
    font-size: 1em;
    font-style: oblique;
    background-color: cadetblue;
}
.description{
    font-size: 2em;
}

#boutonDeconnnexion{
    width: min-content;
    height: min-content;
    position: absolute;
    margin-left: 92%;
}

.bouton{
    cursor: pointer;
}

.error {
    color: #f74040;
    font-style: italic;
    font-weight: bold;
    font-size: 0.8em;
    font-family: "DejaVu Serif";
    position: absolute;
    margin-left: 1.35%;
}

.tache{
    margin-top: 3vh;
    background-color: #4CAF50;
    width: 50vw;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: black;
}
.nom_tache{

    font-size: 1.5em;
    text-align: center;
    width: auto;
    color: #ecf0f1;

}
.description_tache{

}
.date_tache{
display: inline-block;
}
.date_debut_tache{

    display: block;

}
.date_fin_tache{

    display: block;

}
.status_tache{

}