<!DOCTYPE html>
<link href="TaskListStyle.css" rel="stylesheet" xmlns="http://www.w3.org/1999/html">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TaskList</title>
</head>
<body>
<h1>Listes de <span class="user"></span></h1>

<p class="description">
   Voici vos listes <span class="user"></span> !
</p>

<ul class="accordion">
    <li>
        <a class="toggle" href="javascript:void(0);">Liste 1</a>
    </li>

    <li>
        <a class="toggle" href="javascript:void(0);">Liste 2</a>
    </li>

    <li>
        <a class="toggle" href="javascript:void(0);">Liste 3</a>
            </li>

    <li>
        <a class="toggle" href="javascript:void(0);">Liste 4</a>
            </li>
</ul>
</body>
</html>